.editorconfig
/.vs
.vsconfig
/Library
/UserSettings
/obj
/Logs
/Temp
/UserSettings
/Assets/StreamingAssets
/Bundles
/yoo
/HybridCLRData
/Build
/Assets/GameRawRes/Scripts
/Assets/HybridCLRData
Assets/HybridCLRData.meta
Assets/StreamingAssets.meta
Assets/Resources/BuildinFileManifest.asset
Assets/Resources/BuildinFileManifest.asset.meta
/.idea
Assets/WebGLTemplates.meta
Assets/WebGLTemplates/WXTemplate.meta
/Assets/WebGLTemplates
Assets/WX-WASM-SDK-V2.meta
/Assets/WX-WASM-SDK-V2
/Assets/GameRes/Raws/Scripts
/wxgame
/TextToolDatas
*.user
*.DS_Store
Animancer.csproj
Animancer.FSM.csproj
AOTAssembly.csproj
Assembly-CSharp.csproj
Goblin.csproj
Goblin.SkillPipelineEditor.csproj
goblin.sln
Kowtow.csproj
LiteNetLib.csproj
LubanLib.csproj
MessagePack.csproj
MessagePack.UnityEditor.csproj
Spine.Editor.csproj
Spine.Runtime.csproj
Tween.csproj
UnityWebSocket.Editor.csproj
UnityWebSocket.Runtime.csproj
ShapeDrawers.csproj
