
.editorconfig
/.vs
.vsconfig
*.csproj
/Library
/UserSettings
/obj
/Logs
/Temp
/UserSettings
*.csproj
*.sln
/Assets/StreamingAssets
/Bundles
/yoo
/HybridCLRData
/Build
/Assets/GameRawRes/Scripts
/Assets/HybridCLRData
Assets/HybridCLRData.meta
Assets/StreamingAssets.meta
