
/.vs
/Queen.Test/bin/Debug
/Queen.Network/obj/Debug
/Queen.Network/bin/Debug
/Queen.Network/obj
/Queen.Test/obj
/Queen/obj/Debug
/Queen/obj
/Queen.RPC/obj
/Queen/bin/Debug
/Queen.Protocols/obj
/Queen.Protocols/.vs
/Queen.Protocols/bin
/Queen.Server/bin
/Queen.Server/obj
/Queen.Gameplay/bin
/Queen.Gameplay/obj
/Queen.Protocols.Gen/obj
/Queen.Protocols.Gen/bin
/Queen.Gameplay/Properties
Queen.Gameplay/Queen.Gameplay.csproj.user
/Queen.Server/Properties
Queen.Server/Queen.Server.csproj.user
/Queen/bin
/Queen.Remote/bin
/Queen.Remote/obj
/.idea
/Queen.Bot/obj
/Queen.Bot/bin
/Queen.DBObserve/bin
/Queen.DBObserve/obj
/Queen.Compass/obj
/Queen.Compass/bin
/Queen.Ration/bin
/Queen.Ration/obj
/Queen.Ration/Res/Logs
